<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../styles/pdf.css"><title>Website Sitemap</title></head><body>
<div class="container">
  <div class="header">
    <div class="brand">[RE]Print Studios</div>
    <div class="forby">/for/ {client.displayName} /by/ Kendrick&nbsp;Forrest</div>
  </div>
  
<h1>Website Sitemap</h1>
<ul>{{#each sitemap}}<li>{{this}}</li>{{/each}}</ul>

  <hr/>
  <p class="small">Generated 2025-08-08 • Project: {project.name} • ID: {project.id}</p>
</div></body></html>