<div class="footer">
  <p>&copy; {{formatDate generated_date "year"}} [RE]Print Studios. All rights reserved.</p>
  <p>Document generated on {{formatDate generated_date "long"}}</p>
  <p class="template-version">Template Version: {{template_version}}</p>
</div>