<div class="header">
  <div class="header-content">
    <div class="logo">[RE]Print Studios</div>
    <div class="header-info">
      <p>Creative Design & Development</p>
      <p>{{brand.contact.email}} | {{brand.contact.phone}}</p>
    </div>
  </div>
</div>