<!doctype html><html><head><meta charset="utf-8"><link rel="stylesheet" href="../styles/pdf.css"><title>SOW</title></head><body>
<div class="container"><div class="header"><div class="brand">[RE]Print Studios</div><div class="forby">/for/ {{client.displayName}} /by/ Kendrick&nbsp;Forrest</div></div>
<h1>Service Agreement & Statement of Work</h1><ul>{{#each deliverables}}<li>{{this}}</li>{{/each}}</ul>
<p>Deposit: {{payment.deposit}} • Balance: {{payment.trigger}}</p><div class="sigline"></div> Client &nbsp;&nbsp; <div class="sigline"></div> Studio
</div></body></html>